/*
Author: Jess McGowan
*/
body{
    font-family: 'Raleway', sans-serif;
}

i{
    padding-right: 10px;
}

#footer{
    text-align: center;
    padding-top:  15%
}

#urgenthelp{
    display: block;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 3000001;
}

#navbar,#nav{
    background-color: #6d6dd6;
}

.navbar-brand{
    margin-left: 4%;
    font-family: 'Dela Gothic One';
}

#links{
    margin-bottom: 40px;
}

#emotionwheel{
    width: 50%;
}

.btn-primary, .btn-primary:active, .btn-primary:focus{
    background-color: #6DD962;
    border-color: #45a34a;
    color:#000;
    padding: 50px;
}

.btn-primary:hover{
    background-color: #6DD962;
    border-color: #45a34a;
    color:#0a58ca
}

.grid-btn{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
}

.homecol{
    display: flex;
    font-size: larger;
    width: 280px;
    height: 100px;
    padding: 50px;
    background-color: #6DD962;
    /*text-align: center;*/
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.homegrid1{
    margin-right: 20px;
}

.homegrid2{
    margin-left: 20px;
    margin-right: 20px;
}

.homegrid3{
    margin-left: 20px;
}

.now-container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.col-6{
    
    margin-left: 40px;
    margin-right: 0px;
}

.bitmore{
    width: 150px;
    height: 100px;
    padding: 50px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #6DD962;
    margin-top: 20px;
    text-align: center;
}

a{
    color: black;
}

.bibliography{
    max-width: 80%;
}

#smallprint{
    display:none;
    width: 50%;
}


.form-select, .form-control{
    width:50%
}

.accordion-button{
    background-color: #c1e6bd;
    border: 2px solid #2a642d;
}

.accordion-button:not(.collapsed){
    background-color: #6DD962;
    color:#312834
}

.accordion-button:focus{
    border-color: #45a34a;
    box-shadow: 0 0 0 .25rem rgba(70, 252, 64, 0.25);
}

.card{
    margin-bottom: 20px;

}

.mythcard{
    background-color: #f4e6f7;
}

.teamcard{
    background-color: #dbe2da;
}

.form-check-input:checked{
    background-color: #081427;
    border-color: #081427;  
}

/*
Floating contact box
*/
#contactBox{
    color: #000;
    position: fixed;
    z-index: 20;
    right:0;
    bottom:0;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 20px;
    background-color: #f0e771;
    border-radius: 5%;
    border-color: #db584e;
    border-width: 5px;
    text-align: center;
    box-shadow: 5px 5px #610303;
}

/*
Dark Mode Options
*/

.darkmode{
  background-color: #312834;
  color: white;
}

#darkmodetoggle{
    margin-right: 50px;
}